<div>
  <%= attachment_image_tag @square, :image %>
  <p>タイトル：<%= @square.title %></p>
  <p>説明：<%= @square.description %></p>
  <p>ユーザーネーム：<%= @square.user.name %></p>
  <p>投稿日時：<%= @square.created_at.strftime('%Y/%m/%d') %></p>
  <% if @square.user == current_user %>
   <%= link_to "削除", square_path(@square), method: :delete %>
  <% end %>
</div>