<div class = "container offset-1">
 <div class ="row">
   <div class="nes-container is-dark with-title col-5">
     <h4 class = "text-center"><%= @square.title %></h4>
   </div>
 </div>
   <div class ="row">
    <div class ="col-6 offset-1">
     <div class = "text-center">
      <div class="nes-container is-rounded mt-5 mb-2">
       <%= attachment_image_tag @square, :image, size: "450x450" %>
      </div>
     </div>
    </div>

    <div class ="square-bord col-5 mt-5">
     <div class="nes-container is-dark with-title">
      <div class="d-flex flex-wrap">
       <%= link_to  user_path(@square.user) do %>
       <%= attachment_image_tag @square.user, :profile_image, size: "70x70", class:" rounded-circle" %>
       <% end %>
      <div class ="ml-3">
       <%= @square.user.name %></p>
      </div>
     </div>
     <hr color="white">
      <p><strong><%= @square.description %></strong></p>
        カテゴリー：<%= @square.category.name %>
　　　</div>
　　 </div>
    </div>
    <div class ="d-flex justify-content-between">
    <div class ="col-7">
     <%= render 'squares/comment', square: @square %>
    </div>
    <div class ="mt-4">
     <div class="nes-table-responsive">
      <table class="nes-table is-bordered is-dark">
       <tbody class ="text-center">
        <% if @square.user == current_user %>
         <tr>
          <td><%= link_to "編集する", edit_square_path(@square), class: "nes-btn is-primary" %></td>
          <td><%= link_to "削除する", square_path(@square), method: :delete, class: "nes-btn is-error" %></td>
         </tr>
        <% end %>
         <tr>
          <td><%= render 'squares/favorite', square: @square %></td>
          <td><%= form_with model: @deck_square,url: deck_squares_path, local:true do |f| %>
              <%= f.hidden_field :square_id, value: @square.id %>
              <%= f.submit "デッキに入れる", class: "nes-btn" %>
        <% end %></td>
         </tr>
       </tbody>
      </table>
     </div>
    </div>
   </div>
</div>