<div class ="container">
<div class= "text-center">
 <%= flash[:notice] %>
</div>
<div>
 <%= link_to deck_recipes_destroy_all_path, method: :delete do %>
 <button type="button" class="nes-btn is-error">デッキを空にする</button>
<% end %>
</div>
<div class ="row">
<div class="d-flex flex-wrap col-9">
 <% @deck_recipes.each do |deck_recipe| %>
  <%= attachment_image_tag deck_recipe.square, :image, size: "240x240", format: 'jpeg' %>
 <% end %>
</div>


<div class="col-3">
<% @deck_recipes.each do |deck_recipe| %>
<div>
 <div class ="d-flex flex-wrap">
  <%= link_to square_path(deck_recipe.square.id) do %>
   <%= attachment_image_tag deck_recipe.square, :image, size: "80x80", format: 'jpeg' %>
  <% end %>

  <%= link_to deck_recipe_path(deck_recipe),method: :delete do %>
  <button type="button" class="nes-btn is-error ">削除</button>
  <% end %>
  </div>
</div>
 <% end %>

</div>
</div>
</div>