<div class= "text-center">
 <%= flash[:notice] %>
</div>
<div class="d-flex flex-wrap offset-4 col-8">
 <% @deck_recipes.each do |deck_recipe| %>
  <%= link_to square_path(deck_recipe.square.id) do %>
  <%= attachment_image_tag deck_recipe.square, :image, size: "300x300", format: 'jpeg' %>
 <% end %>
  <% end %>
</div>

<div class="d-flex flex-wrap">
 <% @deck_recipes.each do |deck_recipe| %>
  <%= link_to square_path(deck_recipe.square.id) do %>
   <%= attachment_image_tag deck_recipe.square, :image, size: "60x60", format: 'jpeg' %>
  <% end %>
  <%= deck_recipe.square.title %>
  <%= deck_recipe.square.description %>
  <%= link_to deck_recipe_path(deck_recipe),method: :delete, class: "btn btn-outline-danger" do %>
  <i class="fas fa-trash"></i>
  <% end %>
 <% end %>
</div>

<%= link_to deck_recipes_destroy_all_path, method: :delete do %>
 <button type="button" class="btn btn-outline-danger w-25 mt-5">デッキを空にする</button><br>
<% end %>