<div class = "row">
  <div class ="col-lg-10 offset-lg-1 mb-lg-5">
   <div class="nes-container is-dark">
    <div class="d-flex flex-wrap">
     <div class ="col-2">
    <%= attachment_image_tag user, :profile_image, size: "100x100", fallback: "no_image.jpg", class: "rounded-circle" %>
    </div>
     <div class ="col-10">
      <div class="d-flex justify-content-between">
      <h2><%= user.name %></h2>
       <% if user == @current_user %>
        <%= link_to  edit_user_path(user), data: {"turbolinks" => false} do %>
        <button type="button" class="nes-btn is-primary">プロフィール編集</button>
        <% end %>
       <% else %>
        <% if current_user.following?(user) %>
         <%= link_to "フォロー解除", user_relationships_path(user.id), method: :delete, class: "nes-btn is-primary w-25" %>
        <% else %>
         <%= link_to "フォロー", user_relationships_path(user.id), method: :post, class: "nes-btn is-primary w-25" %>
        <% end %>
       <% end %>
       </div>
     <div class ="d-flex flex-wrap">
      <%= link_to  square_lists_path(user.id),class:"no-underline", data: {"turbolinks" => false} do %>
       <p class ="text-white"> Square<%= user.squares.count %>件</p>
       <% end %>
      <%= link_to user_followings_path(user),class:"no-underline", data: {"turbolinks" => false} do %>
       <p class ="text-white ml-3">フォロー中<%= user.followings.count %>人　</p>
      <% end %>
	     <%= link_to user_followers_path(user),class:"no-underline", data: {"turbolinks" => false} do %>
	      <p class ="text-white">フォロワー<%= user.followers.count %>人　</p>
	      	<% end %>
	      <%= link_to favorites_path,class:"no-underline", data: {"turbolinks" => false} do %>
       <p class ="text-white">お気に入り<%= user.favorites.count %>件 </p>
       <% end %>
      </div>
      <strong><p><%= user.introduction %></p></strong>
     </div>
    </div>
   </div>
  </div>
 </div>