<div class="card">
  <div class = "text-center">
   <div class="card-header">
    <h3><%= @user.name %></h3>
   </div>
  </div>
  <div class="card-body">
   <div class = "text-center">
    <h5 class="card-title"><%= attachment_image_tag @user, :profile_image, size: "450x450" %></h5>
   </div>
  <div class="card-footer text-muted">
         <strong><h3><%= @user.introduction %></h3></strong>
  </div>
</div>
</div>
<%= link_to favorites_path do %>お気に入り<%= @user.favorites.count %>件</div><% end %>
<% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
