<div class="col-lg-8 offset-lg-1">
  <div class="d-flex flex-wrap">
    <div id="sortable_list">
      <% deck_squares.each do |deck_square| %>
      <div style="display: inline-block">
        <%= attachment_image_tag deck_square.square, :image, size: "240x240", format: 'jpeg',class: "deck_square_image" %>
        <%= hidden_field_tag :deck_square_id, deck_square.id %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div class="d-flex flex-wrap">
    <% deck_squares.each do |deck_square| %>
    <div>
      <%= link_to square_path(deck_square.square.id),data: {"turbolinks" => false} do %>
      <%= attachment_image_tag deck_square.square, :image, size: "80x80", format: 'jpeg' %>
      <% end %>
      <% if deck_squares.count < 9 %>
        <%= link_to "削除", deck_square_path(deck_square),method: :delete,data: {"turbolinks" => false}, class: "nes-btn is-error" %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<div class ="col-3 offset-9 mt-2">
  <%= link_to "最初からやり直す", deck_squares_destroy_all_path, method: :delete, data: {"turbolinks" => false}, class: "nes-btn is-error" %>
</div>