<body class ="deck_square_page">
<div class ="container-lg offset-lg-1">
 <div class= "text-center text-white">
  <%= flash[:notice] %>
 </div>
 <div class ="row ml-lg-2">
 <div class ="nes-container is-dark col-lg-3 mb-lg-5">
  <h3 class = "text-center">My square編集</h3>
</div>
</div>
 <% unless @deck_squares.present? %>
  <p class= "text-center text-white">デッキ内のSquareは空です。</p>
 <% else %>
 <div class ="row">
  <div class ="col-lg-10 offset-lg-1 mb-5">
 <div class ="nes-container">
  <h4 class ="text-center">選択したSquare一覧</h4>
</div>
</div>
</div>

<div class ="row">
   <div class="d-flex flex-wrap col-lg-8 offset-1">
    <div id="sortable_list">
     <% @deck_squares.each do |deck_square| %>
      <div style="display: inline-block">
       <%= attachment_image_tag deck_square.square, :image, size: "240x240", format: 'jpeg',class: "deck_square_image" %>
       <%= hidden_field_tag :deck_square_id, deck_square.id %>
      </div>
     <% end %>
     </div>
     <%# for num in (@deck_squares.count)...9 do %>
     <%#= image_tag 'favicon.ico', size: "240x240", format: 'jpeg',class: "deck_square_image" %>
     <%# end %>
      </div>

   <div class="col-lg-3">
    <% @deck_squares.each do |deck_square| %>
     <div>
      <div class ="d-flex flex-wrap">
       <%= link_to square_path(deck_square.square.id) do %>
        <%= attachment_image_tag deck_square.square, :image, size: "80x80", format: 'jpeg' %>
       <% end %>
       <% if @deck_squares.count < 9 %>
       <%= link_to deck_square_path(deck_square),method: :delete do %>
        <button type="button" class="nes-btn is-error ">削除</button>
       <% end %>
       <% end %>
      </div>
     </div>
    <% end %>
   </div>
  </div>
  <div class ="col-3 offset-9 mt-2">
  <%= link_to deck_squares_destroy_all_path, method: :delete do %>
   <button type="button" class="nes-btn is-error">最初からやり直す</button>
  <% end %>
 </div>

 <div class ="row">
  <div class ="col-lg-10 offset-lg-1 mt-5 mb-5">
 <div class="nes-container">
  <h4 class ="text-center">My squareの設定</h4>
</div>
</div>
</div>
<div class ="col-6 offset-3">
<%= form_with  model: @deck_recipe, local:true do |f| %>
 <div class ="mb-3">
  <h4><%= f.label :theme, "テーマ" %></h4>
  <%= f.text_field :theme, class: "nes-textarea" %>
 </div>
  <h4><%= f.label :is_released, "公開ステータス" %></h4>
  <%= f.radio_button :is_released,:true %>
  <%= f.label :is_released, "公開" %><br>
  <%= f.radio_button :is_released, :false %>
  <%= f.label :is_released, "非公開"%><br>
   </div>
  <div class ="col-3 offset-9">
  <%= f.submit '設定を保存する', class: "nes-btn is-success" %>
  </div>
<% end %>
 <% end %>
</div>
</body>