<body class ="square-lists">
<div class ="container-lg offset-lg-1">
 <div class ="row ml-2">
  <div class ="nes-container is-dark with-title mb-5">
   <h3 class = "text-center">Square 一覧</h3>
  </div>
 </div>
 <div class ="col-lg-10 offset-lg-1">
  <% @search_category.each do |square| %>
   <div class="nes-container is-dark with-title">
    <p class="title">
     <%= square.title %>
    </p>
     <div class ="d-flex flex-wrap">
      <%= link_to square_path(square.id) do %>
       <%= attachment_image_tag square, :image, size: "150x150", format: 'jpeg' %>
      <% end %>
       <div class ="col-8 offset-1">
        <%= square.description %>
       </div>
     </div>
    </div>
    <% end %>
   <%= paginate @search_category %>
 </div>
</div>
</div>
</body>