<!DOCTYPE html>
<html>
  <head>
    <title>Mysquare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <!--NES.cssで8bit風cssをboxに適用-->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
　　<!---->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>


        <%= form_with url: search_path, method: :get,  local: true do |f|%>
        <%= f.text_field :keyword, value: @keyword ,placeholder: "Search",class: "nes-input is-dark",style: "width:250px; margin-right:10px;"%>
        <%= f.submit "検索",class:"nes-btn" %>
        <% end %>
      <li>
        <%= link_to '作成したSquare一覧', square_lists_path(current_user.id) %>
      </li>
      <li>
        <%= link_to 'My square一覧', deck_recipes_path %>
      </li>
      <li>
        <%= link_to 'My square編集', deck_squares_path %>
      </li>
      <li>
        <%= link_to 'Square作成', new_square_path %>
      </li>
      <li>
        <%= link_to 'Square一覧', squares_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
      <li>
      <%= link_to 'マイページ', user_path(current_user.id) %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
      <li>
        <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post %>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
